:root{
--yale-blue: #054a91ff;
--yale-blue-light: #265b8f;
--steel-blue: #3e7cb1ff;
--iceberg: #81a4cdff;
--alice-blue: #dbe4eeff;
--heat-wave: #ec9c52;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--alice-blue);
    
    position: relative;
    min-height: 100%;
    height: fit-content;
}
#wrapper {
    height: 100%;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: var(--iceberg);
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 3;
}

header .logo {
    color: var(--yale-blue);
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav{
    float: right;
    
}

header nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.submenu:before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0d7"; /* FontAwesome Unicode */
    position: absolute;
    line-height: 50px;
    color: var(--yale-blue);
    right: 5px;
    font-weight: 900;
}

header nav ul li.current.submenu:before{
    content:'\f0d8';
}
header nav ul li ul{
    position: absolute;
    left: 0;
    background-color: var(--iceberg);
    display: none;
}
header nav ul li.current ul{
    display: block;
}
header nav ul li ul li{
    display: block;
    width: 200px;
    
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: var(--yale-blue);
    text-decoration: none;   
    display: block;
}
header nav ul li a i {
    padding-right: 5px;
}
header nav ul li a:hover,
header nav ul li a.current {
    color: var(--iceberg);
    background-color: var(--yale-blue);
}

.menu-toggle{
    color: var(--yale-blue);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    padding: 13px 0px;
}
.cart {
    color: var(--yale-blue);
    float: 0 0 50px;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    padding: 13px 0px;
}

@media (max-width: 991px){
    header {
        padding: 0px 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: var(--iceberg);
        top: 50px;
        left: -100%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    header nav.current {
        left: 0;
        
    }
    
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0,0,0,.2)
    }
    header nav ul li.current ul{
        position: relative;
        background-color: var(--iceberg);
    }
    header nav ul li ul li{
        width: 100%;
        
    }
}
footer {
    height: 40%;
    background-color: var(--iceberg);
    margin-top: -3rem;
    width: 100%;
}

#contact-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact_container, #form-messages {
    position: relative;
    margin: .75rem .75rem;
    top: 50px;    
    border-radius: 5px;
    background-color: var(--iceberg);
    color:var(--yale-blue);
    padding: 20px;
    font-size: 1.2rem;

}
#info {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    z-index: 2;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}
label {
    margin-left: 2%;
}
#success {
    display:flex;
    float: right;
    
    
}

.warning::placeholder {
    color: red;
}

#map-container {
    position: relative;
    margin: .75rem .75rem;
    top: 50px;    
    border-radius: 5px;
    background-color: #f2f2f2;
    height: calc(100% - 8rem);
    
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.wrapper {
    top: 50;
}

#wrapper-proizvodi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: calc(50px + 1rem);
    margin: 0 .75rem;
    grid-gap: 2% 7%;
    
}
#proizvod {
    border-radius: 10px;
    text-align: center;
    background-color: #63755A;
    color:var(--iceberg);
    transition: .3s;
    
}
#proizvod:hover {
    transform: scale(0.95);
    transition: .3s;
}
#proizvod > img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



#myCarousel {
    top:50px;
}
.carousel-inner {
    z-index: -2;
}

.carousel-item {
    height: 34rem;
    background-color: var(--alice-blue);
    color: var(--iceberg);
    position: relative;
    z-index: -2;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.btn,
.btn:focus,
.btn:active {
    background-color: var(--yale-blue);
    color: var(--iceberg);
    border: none;
    outline: none !important;
    box-shadow: none !important;
}
.btn:hover {
    background-color: var(--yale-blue-light);
    border: none;
}
div.container.marketing {
    position: absolute;
    top: calc(34rem + 80px)
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  #wrapper-proizvodi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 5rem;
    
    
    }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
    #contact-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    }
    #map-container {
        margin-top: .75rem;
        margin-bottom: 0;
        height: 100%;
        top: 50px;

    }
    #map {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contact_container, #form-messages {
        top: 50px;
        margin-top: .75rem;
        height: 100%
    }
    footer {
        margin-top: 5rem;
    }
    #wrapper-proizvodi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 5rem;
    
    
    }
}